<div class="jumbotron">
  <div class="container">
    <h1 class="display-5" style="color: var(--dark)">ngx-numbered-codeblock</h1>
    <p class="lead mb-2" style="padding-left: 0.5em;border-left: 2px solid var(--dark);"><a href="https://github.com/PrismJS/prism">Prism.js</a> wrapper with built-in line numbers</p>
    <p><a href="https://github.com/TypeCtrl/ngx-numbered-codeblock">GitHub</a></p>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <h5>Example</h5>
      <ngx-numbered-codeblock [code]="code"></ngx-numbered-codeblock>
      <br>
      <h5>Example Without Line Numbers</h5>
      <ngx-numbered-codeblock [code]="smallcode" [lineNumbers]="false"></ngx-numbered-codeblock>
    </div>
  </div>
</div>
