@import '~bootstrap/scss/functions';
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
  Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
  segoe ui symbol;
$body-bg: #fff;
$body-color: #111;
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import '~bootstrap/scss/grid';
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/utilities";
@import '~bootstrap/scss/print';

@include media-breakpoint-down(xs) {
  h1 {
    font-size: 1.5rem;
  }
}

@import './prism-funky-theme.css';

@media (max-width: 600px) {
  pre {
    min-width: 90vw;
    max-width: 90vw;
    word-break: break-all;
  }
}

.codeblock code {
  display: block;
  padding: 0 0 1em 2.5em;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4em;
  background: white;
  color: #495057;
}

@media (max-width: 575.98px) {
  .codeblock code {
    font-size: 10px;
  }
}
