@import "./prism-funky-theme.css";

code {
  font-family: 'Menlo', monospace;
  font-weight: bold;
  padding: 0.2rem 0.3rem;
  background-color: #ffffff;
  line-height: 1.8em;
  font-size: 0.8em;
}

pre > code {
  background-color: transparent;
  font-weight: 300;
}

pre {
  overflow: initial;
  background-color: #ffffff;
  display: inline-block;
  padding: 0.5em;
  min-width: 33vw;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .content,
  pre {
    min-width: 90vw;
    max-width: 90vw;
    word-break: break-all;
  }
}

.codeblock code {
  display: block;
  padding: 0 0 0 1.5rem;
  border-radius: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4em;
  background: white;
  color: #495057;
}
.codeblock.line-numbers {
  padding-left: 0;
}
@media (max-width: 600px) {
  .codeblock code {
    font-size: 10px;
    padding: 0;
    pointer-events: none;
  }
}

pre.line-numbers {
  position: relative;
  padding-left: 3em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -0.8em;
  width: 2em; /* works for line-numbers below 1000 lines */
  user-select: none;
}

@media (max-width: 600px) {
  .line-numbers .line-numbers-rows {
    display: none;
  }
  .github-btn {
    margin-right: 5px;
  }
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #ced3d7;
  display: block;
  padding-right: 0.7em;
  text-align: right;
}
